# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [6]:
a = 5
b = (6 + a)*3 - 3
print(b)

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [10]:
a = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."
a = a.lower().replace("veri bilim","VERİ BİLİM")
print(a)

VERİ BİLİMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (ai) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERİ BİLİMiyle uğraşan kişilere VERİ BİLİMci denir. bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [147]:
b = ["Mustafa Selman","Güneş","24","İstanbul",2.86]
print(f"{b[0]} {b[1]} {b[2]} {b[3]} {b[4]}")

Mustafa Selman Güneş 24 İstanbul 2.86

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [27]:
a = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
a = a.split(" ")
b = a[:2]
b = b[0] + " " + b[1]
c = a[-2:]
c = c[0] + " " + c[1]
d = [b,c]
for item in d:
    for i in range(len(item)):
        print(item)

Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [29]:
a = "veri bilimi"
b = "VERİ BİLİMİ"
c = [a,b]

for item in c:
    if item.isupper():
        print("Bu string büyük harf ile yazılmıştır : " + item )
    else:
        print("Bu string küçük harf ile yazılmıştır : " + item )

Bu string küçük harf ile yazılmıştır : veri bilimi
Bu string büyük harf ile yazılmıştır : VERİ BİLİMİ

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [148]:
listem = ["Mustafa Selman","Güneş","24","İstanbul",2.86]

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [149]:
listem2 = [listem[2],listem[3],listem[4]]

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [150]:
for item in listem2:
    print(f"Bu elemanının tipi : {type(item)}'dir'")

Bu elemanının tipi : <class 'str'>'dir'
Bu elemanının tipi : <class 'str'>'dir'
Bu elemanının tipi : <class 'float'>'dir'

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [151]:
eklenecek_liste = ["Ali", 90, "Mehmet"]

listem2 += eklenecek_liste

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [152]:
listem3 = [listem2[3],listem2[4]]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [153]:
listem2 += listem3

12- "listem2" içerisinden 90 elemanını siliniz.

In [154]:
listem2.remove(90)

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [155]:
yeni_liste = []
for i in range(10):
    yeni_liste.append(i+1)
yeni_liste.sort(reverse=True)

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [156]:
print(yeni_liste.index(7))
print(yeni_liste.index(2))

3
8

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [157]:
tuple1 = tuple(listem2)
print(tuple1)

('24', 'İstanbul', 2.86, 'Ali', 'Mehmet', 'Ali', 90)

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

Aslında değiştiremeyiz ama yeniden listeye çevirip değeri değiştirip sonra yeniden tuple yapabiliriz.

In [158]:
converted_tuple =list(tuple1)
converted_tuple[converted_tuple.index("Ali")] = "Veli"
tuple1 = tuple(converted_tuple)
print(tuple1)

('24', 'İstanbul', 2.86, 'Veli', 'Mehmet', 'Ali', 90)

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [159]:
yeni_tuple = []
for i in range(10):
    yeni_tuple.append(i+1)
yeni_tuple.sort(reverse=True)

yeni_tuple = tuple(yeni_tuple)
print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [160]:
print(yeni_tuple.index(7))
print(yeni_tuple.index(2))

3
8

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [161]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
new_set = {dictionary["REG"][1],dictionary["LOG"][1],dictionary["CART"][1]}
print(new_set)

{10, 20}

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [162]:
dictionary["CART"][1] = 30
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [98]:
dictionary["RF"] = ["SSE",50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [99]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]
set1 = set(liste1)

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

Değerler indexlenmediği için çekemeyiz

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [103]:
set1.discard("Ali")
set1.add("Veli")
set1.discard(10)
set1.add(40)
print(set1)

{'Veli', 40, 'Ayşe', 20, 'Mehmet'}

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [117]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [106]:
set1.difference(set2)

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [107]:
set2.difference(set1)

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [108]:
set1.symmetric_difference(set2)

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [109]:
set1.intersection(set2)

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [110]:
set1.union(set2)

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [111]:
set1.isdisjoint(set2)

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [116]:
print(set1.issubset(set2))
print(set2.issubset(set1))

False
True

25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint())

In [119]:
print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
False

In [120]:
maaslar = [1000,2000,3000,4000,5000]

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [124]:
def zam_yap(maaslar):
    zamlı_maaslar = []
    for item in maaslar:
        zamlı_maaslar.append(item*20/100 + item)
        
    return zamlı_maaslar

zamlı_maaslar = zam_yap(maaslar)
print(zamlı_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [128]:
for item in zamlı_maaslar:
    if item<2500:
        zamlı_maaslar[zamlı_maaslar.index(item)] = item-50
    else:
        zamlı_maaslar[zamlı_maaslar.index(item)] = item-100
print(zamlı_maaslar)

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [168]:
students = ["John", "Mark", "Venessa", "Mariam"]
students.index("John")

0

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [178]:
students = ["John", "Mark", "Venessa", "Mariam"]
def ikiye_bol(students):
    final_list = []
    first_list = []
    second_list = []
    for item in students:

        if students.index(item) % 2 == 0:
            first_list.append(item)
        else:
            second_list.append(item)
            
    final_list = [first_list,second_list]
    return final_list

print(ikiye_bol(students))

[['John', 'Venessa'], ['Mark', 'Mariam']]

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [135]:
text="hi my name is john and i am learning python"
def changestring(text):
    text_list = list(text)
    for i in range(len(text_list)):
        if i % 2 ==0:
            text_list[i] = text_list[i].upper()
    new_text=""
    for item in text_list:
        new_text += item

    print(new_text)
changestring(text)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [136]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [144]:
text=("hi my name is john and i am learning python")
def enumeratedstring(text):
    new_string = ""
    for count, item in enumerate(text):
        if count % 2 == 0:
            new_string += text[count].upper()
        else:
            new_string += text[count].lower()
    print(new_string)
enumeratedstring(text)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [179]:
def al_ve_yazdir(isim,yas):
    print(f"Merhaba benim ismim {isim}")
    print(f"{yas} Yasındayım!")
    
al_ve_yazdir(input("İsim"),input("Yas"))

İsim Selman
Yas 24

Merhaba benim ismim Selman
24 Yasındayım!